CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/handera/amherstquad/imximage.cfg,MX6Q"
CONFIG_ARM=y
CONFIG_TARGET_AMHERSTQUAD=y
CONFIG_TARGET_AMHERST_QUAD=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y

CONFIG_IMX_HAVE_PLATFORM_SPI_IMX=y
CONFIG_REGMAP_SPI=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_IMX=y
CONFIG_SPI_SPIDEV=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_SND_SPI=y
CONFIG_SND_SOC_I2C_AND_SPI=y

